In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("NDAP_REPORT_6000.csv")

#### Ques1 - How does the population vary across different states or districts?

In [3]:
q1a = df.groupby(df.State)
pd.DataFrame(q1a['Population', 'Male population', 'Female population'].sum())

C:\Users\Amit Jha\AppData\Local\Temp\ipykernel_29844\269359599.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(q1a['Population', 'Male population', 'Female population'].sum())

,Population,Male population,Female population
State,,,
ANDAMAN AND NICOBAR ISLANDS,380581,202871,177710
ANDHRA PRADESH,49577103,24830513,24746590
ARUNACHAL PRADESH,1383727,713912,669815
ASSAM,31205576,15939443,15266133
BIHAR,104099452,54278157,49821295
CHANDIGARH,1055450,580663,474787
CHHATTISGARH,25545198,12832895,12712303
DELHI,16787941,8987326,7800615
GOA,1458545,739140,719405
GUJARAT,60443083,31492973,28950110
HARYANA,25351462,13494734,11856728
HIMACHAL PRADESH,6864602,3481873,3382729
JAMMU AND KASHMIR,12267013,6483906,5783107
JHARKHAND,32988134,16930315,16057819
KARNATAKA,61095297,30966657,30128640
KERALA,33406061,16027412,17378649
LADAKH,274289,156756,117533
LAKSHADWEEP,64473,33123,31350
MADHYA PRADESH,72641665,37620144,35021521
MAHARASHTRA,112374333,58243056,54131277
MANIPUR,2855794,1438586,1417208
MEGHALAYA,2966889,1491832,1475057
MIZORAM,1097206,555339,541867
NAGALAND,1978502,1024649,953853
ODISHA,41980846,21215646,20765200
PUDUCHERRY,1247953,612511,635442
PUNJAB,27743338,14639465,13103873
RAJASTHAN,68548437,35550997,32997440
SIKKIM,610577,323070,287507
TAMIL NADU,72147030,36137975,36009055
TELANGANA,35003674,17611633,17392041
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,586956,344061,242895
TRIPURA,3673917,1874376,1799541
UTTAR PRADESH,199812341,104480510,95331831
UTTARAKHAND,10086292,5137773,4948519
WEST BENGAL,91276115,46809027,44467088

In [4]:
q1b = df.groupby(df.District)
pd.DataFrame(q1b['Population', 'Male population', 'Female population'].sum())

C:\Users\Amit Jha\AppData\Local\Temp\ipykernel_29844\1162566831.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(q1b['Population', 'Male population', 'Female population'].sum())

                    Population  Male population  Female population
District
24 PARAGANAS NORTH    10009781          5119389            4890392
24 PARAGANAS SOUTH     8161961          4173778            3988183
ADILABAD                708972           356407             352565
AGAR MALWA              571278           293052             278226
AGRA                   4418797          2364953            2053844
...                        ...              ...                ...
YADGIR                 1174271           590329             583942
YAMUNANAGAR            1214205           646718             567487
YANAM                    55626            27301              28325
YAVATMAL               2772348          1419965            1352383
ZUNHEBOTO               140757            71217              69540

[732 rows x 3 columns]

#### Ques2 - What is the distribution of rural and urban households within each state?

In [5]:
new_df = df[['State', 'Rural or Urban', 'Households', 'Population', 'Male population', 'Female population']].copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
new_df['Rural or Urban'] = le.fit_transform(df['Rural or Urban'])
'''Here 1 refers to Urban and 
        0 refers to Rural'''
new_df

,State,Rural or Urban,Households,Population,Male population,Female population
0,GUJARAT,1,1,5,5,0
1,GUJARAT,1,5,18,18,0
2,ODISHA,1,2,3,3,0
3,UTTARAKHAND,1,297,612,609,3
4,JAMMU AND KASHMIR,1,77,1965,1957,8
...,...,...,...,...,...,...
606673,TELANGANA,0,1010,5344,2801,2543
606674,TELANGANA,0,127,651,347,304
606675,TELANGANA,0,25,107,54,53
606676,LADAKH,0,48,266,116,150
606677,LADAKH,0,74,334,156,178

In [6]:
new_df['Urban Households'] = (new_df['Rural or Urban']*df['Households'])
new_df['Rural Households'] = new_df['Households']-new_df['Urban Households']
new_df['Urban Population'] = (new_df['Rural or Urban']*df['Population'])
new_df['Rural Population'] = new_df['Population']-new_df['Urban Population']
new_df['Urban Male Population'] = (new_df['Rural or Urban']*df['Male population'])
new_df['Rural Male Population'] = new_df['Male population']-new_df['Urban Male Population']
new_df['Urban Female Population'] = (new_df['Rural or Urban']*df['Female population'])
new_df['Rural Female Population'] = new_df['Female population']-new_df['Urban Female Population']

In [7]:
q2 = new_df.drop(df[['Rural or Urban', 'Households', 'Population', 'Male population', 'Female population']], axis = 'columns')

In [8]:
q2.groupby('State').sum()

,Urban Households,Rural Households,Urban Population,Rural Population,Urban Male Population,Rural Male Population,Urban Female Population,Rural Female Population
State,,,,,,,,
ANDAMAN AND NICOBAR ISLANDS,36021,58530,143488,237093,76584,126287,66904,110806
ANDHRA PRADESH,3653618,9065358,14610410,34966693,7292265,17538248,7318145,17428445
ARUNACHAL PRADESH,70367,200210,317369,1066358,167901,546011,149468,520347
ASSAM,985594,5420877,4398542,26807034,2260454,13678989,2138088,13128045
BIHAR,2050625,16862940,11758016,92341436,6204307,48073850,5553709,44267586
CHANDIGARH,234033,7140,1026459,28991,563513,17150,462946,11841
CHHATTISGARH,1285156,4365568,5937237,19607961,3035469,9797426,2901768,9810535
DELHI,3356425,79574,16368899,419042,8761005,226321,7607894,192721
GOA,215403,128208,906814,551731,463704,275436,443110,276295
GUJARAT,5475577,6773558,25748474,34694609,13693814,17799159,12054660,16895450
HARYANA,1813768,3043756,8842103,16509359,4720728,8774006,4121375,7735353
HIMACHAL PRADESH,170770,1312510,688552,6176050,371528,3110345,317024,3065705
JAMMU AND KASHMIR,557090,1522381,3371233,8895780,1825543,4658363,1545690,4237417
JHARKHAND,1525412,4729369,7933061,25055073,4153829,12776486,3779232,12278587
KARNATAKA,5410370,7946657,23625962,37469335,12037303,18929354,11588659,18539981
KERALA,3704113,4149641,15934926,17471135,7619358,8408054,8315568,9063081
LADAKH,9195,31052,62009,212280,40642,116114,21367,96166
LAKSHADWEEP,8864,2710,50332,14141,25880,7243,24452,6898
MADHYA PRADESH,4015578,11080278,20084261,52557404,10470756,27149388,9613505,25408016
MAHARASHTRA,11206781,13214738,50818259,61556074,26704022,31539034,24114237,30017040
MANIPUR,172339,385520,834154,2021640,411702,1026884,422452,994756
MEGHALAYA,117486,430573,595450,2371439,297572,1194260,297878,1177179
MIZORAM,117041,105812,571771,525435,286204,269135,285567,256300
NAGALAND,118511,277491,570966,1407536,299177,725472,271789,682064
ODISHA,1549309,8089987,7010284,34970562,3629443,17586203,3380841,17384359
PUDUCHERRY,207432,95018,852753,395200,417604,194907,435149,200293
PUNJAB,2154958,3358113,10399146,17344192,5545989,9093476,4853157,8250716
RAJASTHAN,3216243,9494903,17048085,51500352,8909250,26641747,8138835,24858605
SIKKIM,35718,93288,153578,456999,80273,242797,73305,214202
TAMIL NADU,8996487,9528495,34917440,37229590,17458910,18679065,17458530,18550525
TELANGANA,3134583,5169029,13608665,21395009,6906640,10704993,6702025,10690016
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,88576,48838,343446,243510,213361,130700,130085,112810
TRIPURA,238974,616582,961453,2712464,487203,1387173,474250,1325291
UTTAR PRADESH,7762093,25685942,44495063,155317278,23487515,80992995,21007548,74324283
UTTARAKHAND,631889,1425086,3049338,7036954,1618731,3519042,1430607,3517912
WEST BENGAL,6567150,13813165,29093002,62183113,14964082,31844945,14128920,30338168

#### Ques3 - Which states have the highest and lowest literacy rates?

In [9]:
new_df3 = df[['State','Population','Male population', 'Female population' ,'Literate population ', 'Male literate population', 'Female literate population ']].copy()
new_df3 = new_df3.groupby('State').sum()
new_df3['Literacy Rate'] = new_df3['Literate population ']/new_df3['Population']*100
new_df3['Male Literacy Rate'] = new_df3['Male literate population']/new_df3['Male population']*100
new_df3['Female Literacy Rate'] = new_df3['Female literate population ']/new_df3['Female population']*100
q3 = new_df3.drop(df[['Population','Male population', 'Female population' ,'Literate population ', 'Male literate population', 'Female literate population ']], axis = 'columns')

In [10]:
q3.head()

,Literacy Rate,Male Literacy Rate,Female Literacy Rate
State,,,
ANDAMAN AND NICOBAR ISLANDS,77.324144,81.025381,73.098869
ANDHRA PRADESH,60.229380,66.649908,53.787079
ARUNACHAL PRADESH,55.358102,61.613756,48.690609
ASSAM,61.456892,66.304946,56.395015
BIHAR,50.436916,58.233412,41.942968

In [11]:
q3MaxMin=pd.DataFrame()
q3MaxMin['State']=[q3['Literacy Rate'].idxmax(), q3['Literacy Rate'].idxmin()]
q3MaxMin['Maximum & Minimum Literacy Rates']=[q3['Literacy Rate'].max(), q3['Literacy Rate'].min()]
q3MaxMin['Male Literacy Rate'] = [q3._get_value('KERALA', 'Male Literacy Rate'),q3._get_value('BIHAR', 'Male Literacy Rate')]
q3MaxMin['Female Literacy Rate'] = [q3._get_value('KERALA', 'Female Literacy Rate'),q3._get_value('BIHAR', 'Female Literacy Rate')]
q3MaxMin

,State,Maximum & Minimum Literacy Rates,Male Literacy Rate,Female Literacy Rate
0,KERALA,84.223710,85.509145,83.038221
1,BIHAR,50.436916,58.233412,41.942968

#### Q4 - How does the working population differ between rural and urban areas?

In [12]:
new_df4 = df[['Population','Male population', 'Female population','Rural or Urban','Working population','Male working population', 'Female Woking population']].copy()
new_df4 = new_df4.groupby('Rural or Urban').sum()
new_df4['Working Population %'] = (new_df4['Working population']/new_df4['Population'])*100
new_df4['Male Working Population %'] = (new_df4['Male working population']/new_df4['Male population'])*100
new_df4['Female Working Population %'] = (new_df4['Female Woking population']/new_df4['Female population'])*100

In [13]:
q4 = new_df4.drop(new_df4[['Population', 'Male population', 'Female population', 'Working population', 'Male working population', 'Female Woking population']], axis = 'columns')

In [14]:
q4

,Working Population %,Male Working Population %,Female Working Population %
Rural or Urban,,,
Rural,41.828315,53.026428,30.028510
Urban,35.307261,53.764045,15.440676

#### Q5 - What is the gender distribution among different types of workers (main workers, marginal workers)?

In [15]:
new_df5 = df[['State', 'Population','Male population', 'Female population','Number of main workers', 'Number of male main workers', 'Number of female main worker', 'Number of marginal workers', 'Number of male marginal workers', 'Number of female marginal workers']].copy()
new_df5 = new_df5.groupby('State').sum()
new_df5['Main_Worker(Female to Male Ratio)'] = new_df5['Number of female main worker']/new_df5['Number of male main workers']
new_df5['Marginal_Worker(Female to Male Ratio)'] = new_df5['Number of female marginal workers']/new_df5['Number of male marginal workers']

In [16]:
q5 = new_df5.drop(new_df5[['Population','Male population', 'Female population','Number of main workers', 'Number of male main workers', 'Number of female main worker', 'Number of marginal workers', 'Number of male marginal workers', 'Number of female marginal workers']], axis = 'columns')
q5

,Main_Worker(Female to Male Ratio),Marginal_Worker(Female to Male Ratio)
State,,
ANDAMAN AND NICOBAR ISLANDS,0.215125,0.541691
ANDHRA PRADESH,0.493220,1.396174
ARUNACHAL PRADESH,0.589859,1.215768
ASSAM,0.234906,1.178332
BIHAR,0.236755,0.680862
CHANDIGARH,0.216712,0.659860
CHHATTISGARH,0.472404,1.563447
DELHI,0.163197,0.403400
GOA,0.333605,0.617334
GUJARAT,0.229224,2.071597
HARYANA,0.197025,1.009675
HIMACHAL PRADESH,0.433299,1.476771
JAMMU AND KASHMIR,0.144110,0.890834
JHARKHAND,0.302640,0.968350
KARNATAKA,0.431035,1.330607
KERALA,0.299439,0.800143
LADAKH,0.230991,0.763240
LAKSHADWEEP,0.182445,0.286038
MADHYA PRADESH,0.387442,1.343966
MAHARASHTRA,0.459283,1.155987
MANIPUR,0.583657,1.659041
MEGHALAYA,0.573943,1.234083
MIZORAM,0.576233,1.612539
NAGALAND,0.676102,1.215277
ODISHA,0.217545,1.198682
PUDUCHERRY,0.304430,0.707224
PUNJAB,0.163299,0.786757
RAJASTHAN,0.381436,1.891166
SIKKIM,0.435379,1.296971
TAMIL NADU,0.473651,0.997951
TELANGANA,0.609695,1.270381
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,0.154371,1.440561
TRIPURA,0.213022,1.492947
UTTAR PRADESH,0.192815,0.704365
UTTARAKHAND,0.386266,1.081738
WEST BENGAL,0.184902,0.800346

#### Q6 - Which states or districts have the highest proportion of scheduled caste or scheduled tribe populations?

In [17]:
new_df6 = df[['Population', 'Male population', 'Female population','State', 'District', 'Scheduled Caste population', 'Male Scheduled Caste population', 'Female Scheduled Caste population ', 'Scheduled Tribe population', 'Male Scheduled Tribe population', 'Female Scheduled Tribe population ']].copy()
new_df6State = new_df6.groupby(new_df6['State']).sum()
new_df6District = new_df6.groupby(new_df6['District']).sum()

In [18]:
new_df6State['SC Population%'] = (new_df6State['Scheduled Caste population']/new_df6State['Population'])*100
new_df6State['ST Population%'] = (new_df6State['Scheduled Tribe population']/new_df6State['Population'])*100
new_df6District['SC Population%'] = (new_df6District['Scheduled Caste population']/new_df6District['Population'])*100
new_df6District['ST Population%'] = (new_df6District['Scheduled Tribe population']/new_df6District['Population'])*100

In [19]:
q6a = new_df6State.drop(new_df6State[['Male population', 'Female population', 'Scheduled Caste population', 'Male Scheduled Caste population', 'Female Scheduled Caste population ', 'Scheduled Tribe population', 'Male Scheduled Tribe population', 'Female Scheduled Tribe population ']], axis = 'columns')
q6a

,Population,SC Population%,ST Population%
State,,,
ANDAMAN AND NICOBAR ISLANDS,380581,0.000000,7.496433
ANDHRA PRADESH,49577103,17.083043,5.527013
ARUNACHAL PRADESH,1383727,0.000000,68.786762
ASSAM,31205576,7.150392,12.447682
BIHAR,104099452,15.914901,1.283939
CHANDIGARH,1055450,18.862665,0.000000
CHHATTISGARH,25545198,12.817552,30.623767
DELHI,16787941,16.751959,0.000000
GOA,1458545,1.744821,10.234515
GUJARAT,60443083,6.741019,14.753010
HARYANA,25351462,20.170888,0.000000
HIMACHAL PRADESH,6864602,25.190856,5.712290
JAMMU AND KASHMIR,12267013,7.536350,10.394592
JHARKHAND,32988134,12.082054,26.206520
KARNATAKA,61095297,17.145333,6.954688
KERALA,33406061,9.098867,1.451350
LADAKH,274289,0.184477,79.548578
LAKSHADWEEP,64473,0.000000,94.799373
MADHYA PRADESH,72641665,15.617631,21.086027
MAHARASHTRA,112374333,11.813995,9.352859
MANIPUR,2855794,3.408089,40.879069
MEGHALAYA,2966889,0.584956,86.146162
MIZORAM,1097206,0.111009,94.432130
NAGALAND,1978502,0.000000,86.478204
ODISHA,41980846,17.126434,22.848825
PUDUCHERRY,1247953,15.731762,0.000000
PUNJAB,27743338,31.936240,0.000000
RAJASTHAN,68548437,17.829134,13.477381
SIKKIM,610577,4.630866,33.797539
TAMIL NADU,72147030,20.012529,1.101496
TELANGANA,35003674,15.452092,9.078876
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,586956,2.097261,33.039444
TRIPURA,3673917,17.826151,31.759373
UTTAR PRADESH,199812341,20.698225,0.567669
UTTARAKHAND,10086292,18.763248,2.894057
WEST BENGAL,91276115,23.514662,5.803219

In [20]:
q6b = new_df6District.drop(new_df6State[['Male population', 'Female population', 'Scheduled Caste population', 'Male Scheduled Caste population', 'Female Scheduled Caste population ', 'Scheduled Tribe population', 'Male Scheduled Tribe population', 'Female Scheduled Tribe population ']], axis = 'columns')
q6b

                    Population  SC Population%  ST Population%
District
24 PARAGANAS NORTH    10009781       21.669645        2.643385
24 PARAGANAS SOUTH     8161961       30.189216        1.188146
ADILABAD                708972       14.023403       31.682774
AGAR MALWA              571278       23.788418        2.440318
AGRA                   4418797       22.434273        0.164185
...                        ...             ...             ...
YADGIR                 1174271       23.275292       12.505546
YAMUNANAGAR            1214205       25.262867        0.000000
YANAM                    55626       15.149391        0.000000
YAVATMAL               2772348       11.849811       18.542297
ZUNHEBOTO               140757        0.000000       97.018976

[732 rows x 3 columns]

#### Q7 - How does the population in the age group 0 to 6 years differ between rural and urban areas?

In [21]:
new_df7 = df[['Population','Male population', 'Female population','Rural or Urban','Population in the age group 0 to 6 years','Male Population in the age group 0 to 6 years', 'Female Population in the age group 0 to 6 years']].copy()
new_df7 = new_df7.groupby('Rural or Urban').sum()
new_df7['Population in the age group 0 to 6 years %'] = (new_df7['Population in the age group 0 to 6 years']/new_df7['Population'])*100
new_df7['Male Population in the age group 0 to 6 years %'] = (new_df7['Male Population in the age group 0 to 6 years']/new_df7['Male population'])*100
new_df7['Female Population in the age group 0 to 6 years %'] = (new_df7['Female Population in the age group 0 to 6 years']/new_df7['Female population'])*100

In [22]:
q7 = new_df7.drop(new_df7[['Population in the age group 0 to 6 years', 'Male Population in the age group 0 to 6 years', 'Female Population in the age group 0 to 6 years']], axis = 'columns')
q7

,Population,Male population,Female population,Population in the age group 0 to 6 years %,Male Population in the age group 0 to 6 years %,Female Population in the age group 0 to 6 years %
Rural or Urban,,,,,,
Rural,833748852,427781058,405967794,14.551488,14.746901,14.345575
Urban,377131000,195502261,181628739,11.453622,11.595375,11.301042

#### Q8 - What is the distribution of different types of workers across household industries?

In [23]:
new_df8 = df[['State','Population','Male population', 'Female population','Number of main workers in the household industry', 'Number of male main workers in the household industry', 'Number of female main workers in the household industry', 'Number of marginal workers in the household industry', 'Number of male marginal workers in the household industry', 'Number of female marginal workers in the household industry']].copy()
new_df8 = new_df8.groupby('State').sum()
new_df8['Main to Marginal Ratio(In households)'] = new_df8['Number of main workers in the household industry']/new_df8['Number of marginal workers in the household industry']
new_df8['Main to Marginal Ratio(In households) For Male population'] = new_df8['Number of male main workers in the household industry']/new_df8['Number of male marginal workers in the household industry']
new_df8['Main to Marginal Ratio(In households) For Female Population'] = new_df8['Number of female main workers in the household industry']/new_df8['Number of female marginal workers in the household industry']
q8 = new_df8.drop(new_df8[['Population','Male population', 'Female population','Number of main workers in the household industry', 'Number of male main workers in the household industry', 'Number of female main workers in the household industry', 'Number of marginal workers in the household industry', 'Number of male marginal workers in the household industry', 'Number of female marginal workers in the household industry']], axis = 'columns')
q8

,Main to Marginal Ratio(In households),Main to Marginal Ratio(In households) For Male population,Main to Marginal Ratio(In households) For Female Population
State,,,
ANDAMAN AND NICOBAR ISLANDS,0.594780,0.749420,0.403257
ANDHRA PRADESH,3.948566,6.613019,2.421867
ARUNACHAL PRADESH,1.299973,2.014535,0.865104
ASSAM,0.971198,2.476697,0.502467
BIHAR,1.234225,1.788362,0.811527
CHANDIGARH,7.274138,15.684211,2.536388
CHHATTISGARH,2.683734,4.240200,1.534723
DELHI,13.289800,21.837195,3.819281
GOA,2.744399,4.260986,1.371969
GUJARAT,2.748017,6.398862,1.107221
HARYANA,3.306379,5.942829,1.225366
HIMACHAL PRADESH,1.255994,1.951870,0.603929
JAMMU AND KASHMIR,0.845707,1.791419,0.333055
JHARKHAND,1.208302,1.722372,0.862966
KARNATAKA,3.200947,4.136106,2.595045
KERALA,2.652908,4.064454,1.566636
LADAKH,0.527248,1.036745,0.348666
LAKSHADWEEP,0.580838,0.970588,0.313131
MADHYA PRADESH,2.078546,3.455759,1.276326
MAHARASHTRA,4.234268,7.202280,2.566827
MANIPUR,1.010829,2.041831,0.827435
MEGHALAYA,1.404977,2.196192,0.987809
MIZORAM,2.281237,3.960510,1.461443
NAGALAND,0.715466,0.995581,0.559981
ODISHA,1.292466,2.541121,0.580670
PUDUCHERRY,4.195523,6.679317,2.876008
PUNJAB,3.524736,6.481139,1.629355
RAJASTHAN,2.312888,4.803534,1.000716
SIKKIM,1.280710,2.307520,0.609971
TAMIL NADU,4.561118,6.727721,3.580094
TELANGANA,4.510268,5.068530,4.250226
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,2.085745,5.670588,0.737463
TRIPURA,0.869189,2.743310,0.369787
UTTAR PRADESH,1.617990,2.438376,0.919795
UTTARAKHAND,2.066967,3.561619,1.038810
WEST BENGAL,1.604793,3.537799,0.926804

#### Q9 - How does the male-female ratio vary across different states or districts?

In [24]:
new_df9 = df[['State', 'District', 'Male population', 'Female population']].copy()
new_df9State = new_df9.groupby('State').sum()
new_df9District = new_df9.groupby('District').sum()
new_df9State['Male-to-Female Ratio'] = new_df9State['Male population']/new_df9State['Female population']
new_df9District['Male-to-Female Ratio'] = new_df9District['Male population']/new_df9District['Female population']
q9a = new_df9State.drop(new_df9State[['Male population', 'Female population']], axis = 'columns')
q9b = new_df9District.drop(new_df9District[['Male population', 'Female population']], axis = 'columns')

In [25]:
q9a

                                              Male-to-Female Ratio
State
ANDAMAN AND NICOBAR ISLANDS                               1.141585
ANDHRA PRADESH                                            1.003391
ARUNACHAL PRADESH                                         1.065835
ASSAM                                                     1.044105
BIHAR                                                     1.089457
CHANDIGARH                                                1.222997
CHHATTISGARH                                              1.009486
DELHI                                                     1.152130
GOA                                                       1.027432
GUJARAT                                                   1.087836
HARYANA                                                   1.138150
HIMACHAL PRADESH                                          1.029309
JAMMU AND KASHMIR                                         1.121180
JHARKHAND                                                 1.054335
KARNATAKA                                                 1.027815
KERALA                                                    0.922247
LADAKH                                                    1.333719
LAKSHADWEEP                                               1.056555
MADHYA PRADESH                                            1.074201
MAHARASHTRA                                               1.075959
MANIPUR                                                   1.015085
MEGHALAYA                                                 1.011372
MIZORAM                                                   1.024862
NAGALAND                                                  1.074221
ODISHA                                                    1.021692
PUDUCHERRY                                                0.963913
PUNJAB                                                    1.117186
RAJASTHAN                                                 1.077387
SIKKIM                                                    1.123694
TAMIL NADU                                                1.003580
TELANGANA                                                 1.012626
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU              1.416501
TRIPURA                                                   1.041586
UTTAR PRADESH                                             1.095967
UTTARAKHAND                                               1.038245
WEST BENGAL                                               1.052667

In [26]:
q9b

                    Male-to-Female Ratio
District
24 PARAGANAS NORTH              1.046826
24 PARAGANAS SOUTH              1.046536
ADILABAD                        1.010897
AGAR MALWA                      1.053288
AGRA                            1.151476
...                                  ...
YADGIR                          1.010938
YAMUNANAGAR                     1.139617
YANAM                           0.963848
YAVATMAL                        1.049973
ZUNHEBOTO                       1.024116

[732 rows x 1 columns]

#### Q10 - What is the proportion of illiterate population among different types of workers?

In [27]:
new_df10 = df[['State', 'Population', 'Illiterate population', 'Number of main workers as cultivators', 'Number of main workers as agricultural labourers', 'Number of main workers in the household industry', 'Number of  main workers as Other workers', 'Number of marginal workers as cultivators', 'Number of marginal workers as agricultural labourers', 'Number of marginal workers in the household industry', 'Number of marginal workers as Other workers']].copy()
new_df10 = new_df10.groupby('State').sum()
new_df10['Illiterate Population of Main Workers as cultivators'] = round((new_df10['Illiterate population']/new_df10['Number of main workers as cultivators'])*100)
new_df10['Illiterate Population of Main Workers as agricultural labourers'] = round((new_df10['Illiterate population']/new_df10['Number of main workers as agricultural labourers'])*100)
new_df10['Illiterate Population of Main Workers in the household industry'] = round((new_df10['Illiterate population']/new_df10['Number of main workers in the household industry'])*100)

q10 = new_df10.drop(new_df10[['Population', 'Illiterate population', 'Number of main workers as cultivators', 'Number of main workers as agricultural labourers', 'Number of main workers in the household industry', 'Number of  main workers as Other workers', 'Number of marginal workers as cultivators', 'Number of marginal workers as agricultural labourers', 'Number of marginal workers in the household industry', 'Number of marginal workers as Other workers']], axis = 'columns')

import numpy as np
q10.replace([np.inf], 0, inplace=True)

q10

,Illiterate Population of Main Workers as cultivators,Illiterate Population of Main Workers as agricultural labourers,Illiterate Population of Main Workers in the household industry
State,,,
ANDAMAN AND NICOBAR ISLANDS,664.0,3220.0,6209.0
ANDHRA PRADESH,637.0,229.0,3729.0
ARUNACHAL PRADESH,249.0,3049.0,13065.0
ASSAM,383.0,1332.0,4969.0
BIHAR,953.0,541.0,6618.0
CHANDIGARH,11527.0,17909.0,5926.0
CHHATTISGARH,335.0,406.0,7436.0
DELHI,14590.0,12868.0,2395.0
GOA,1218.0,2724.0,2719.0
GUJARAT,408.0,431.0,7670.0
HARYANA,446.0,982.0,4346.0
HIMACHAL PRADESH,198.0,2658.0,5582.0
JAMMU AND KASHMIR,972.0,3396.0,6893.0
JHARKHAND,733.0,1183.0,5886.0
KARNATAKA,339.0,399.0,2939.0
KERALA,967.0,573.0,2658.0
LADAKH,725.0,8441.0,12181.0
LAKSHADWEEP,0.0,0.0,12289.0
MADHYA PRADESH,363.0,449.0,4596.0
MAHARASHTRA,269.0,278.0,3109.0
MANIPUR,203.0,2077.0,2063.0
MEGHALAYA,287.0,1031.0,9875.0
MIZORAM,123.0,941.0,4562.0
NAGALAND,151.0,2818.0,6678.0
ODISHA,464.0,629.0,3450.0
PUDUCHERRY,2700.0,574.0,4561.0
PUNJAB,501.0,774.0,3005.0
RAJASTHAN,307.0,1379.0,6018.0
SIKKIM,200.0,1430.0,5735.0
TAMIL NADU,527.0,281.0,1814.0
TELANGANA,478.0,312.0,2251.0
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,720.0,2627.0,9009.0
TRIPURA,352.0,431.0,4504.0
UTTAR PRADESH,548.0,876.0,3545.0
UTTARAKHAND,307.0,1296.0,4161.0
WEST BENGAL,707.0,507.0,1959.0